.detailsCard {
  margin: 100px 500px;
  height: calc(100vh - 150px);

  display: grid;
  grid-template-rows: 60% 40%;

  text-align: center;
  width: 800px;

  gap: 20px;
}
.thumbnailGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;

  background-color: grey;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
p i {
  font-size: 12px !important;
  margin: 0px;
}
p span {
  margin-left: 2px;
}
.thumbnail {
  width: 60px;
  height: 40px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
}
.ownerButtons {
  display: flex;
  justify-content: end;
  gap: 30px;
}
.ownerButtons button {
  height: 30px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: white;
  text-align: center;
}
.ownerButtons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.photo {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  width: 550px;
  height: 400px;

  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.photoContainer {
  height: 100%;
  width: 100%;
}
.fullScreenPhoto {
  width: 90vw;
  height: 90vh;
  object-fit: contain;
  cursor: pointer;
}
.fullScreenModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; 
}
.detailsInfo {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.description {
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}
.description p {
  font-size: 18px;
}
.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.details > div {
  width: calc(
    33.33% - 10px
  ); 
  position: relative;
}

.details h3 {
  font-weight: bold;
  color: orange;
  text-align: left;
  width: auto;
  font-size: 25px;
}

.details p {
  margin: 0;
  font-size: medium;
}

.details label {
  color: black;
  margin: 5px;
  font-weight: bold;
}
.navigationArrows {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
.photoWrapper {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  overflow: hidden;
  display: grid;
  grid-template-rows: 15% 70% 15%;
}
.hPrice {
  color: orange;
}
.price {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p {
  margin: 0px;
}
hr {
  color: black;
}
h3 {
  font-weight: bold;
  color: orange;
  text-align: left;
  width: auto;
}
.header {
  display: flex;
  text-align: start;
  margin: 10px;
  flex-direction: column;
}
label {
  color: black;
  margin: 5px;
}
span {
  margin-left: 5px;
  font-size: 17px;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #dcdcdc;
}
.offerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: calc(100vh - 100px);;
}

.sideInfo {
  background-color: white;
}
@media only screen and (min-width: 2000px) and (min-height: 1300px) {
  .photo {
    width: 100%;
    height: 100%;
    object-fit: fill;

    width: 1000px;
    margin: 0px;
    cursor: pointer;
  }
  .photoWrapper {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
    overflow: hidden;
    display: grid;
    grid-template-rows: 15% 75% 10%;
  }
}
