.pageContainer {
    background-color: rgb(235, 234, 234);
}

.wrapperContent {
    margin: auto 150px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.filterMenu {
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardContainer {
   width: auto;
}

.card {
    display: flex;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    width: auto;
    cursor: pointer;
   
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.cardImage {
    width: 150px;
    height: 100%;
    object-fit: cover;
}

.cardImage:hover {
    transform: scale(3);
}

.cardContent {
    flex: 1;
    padding: 10px;
}

h1 {
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
}


/* Add more styles as needed */