.pageContainer {
  margin: auto 150px;
  display: grid;
  grid-template-columns: 15% auto;
  gap: 20px;
}
.cardContainer {
  display: grid;
  grid-template-columns: auto auto;
  height: 200px;
  gap: 20px;
}
.wrapper {
  padding: 20px;
  background-color: #dcdcdc;
  height: auto;
}
body,
html {
  background-color: #dcdcdc;
  margin: 0px;
  padding: 0px;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-bottom: 5px;
  background-color: #dcdcdc;
}
.sort label {
  display: flex;
  color: black;
  vertical-align:baseline;
}
.sort select {
  width: 150px;
  height: 30px;

}
.sort p{
  margin: 0px;
}
