.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
    height: 125px;
    width: 125px;
    padding: 5px;
    background-color: #F5F5F5
}

.card:hover {
    border: 2px solid red;
    transform: scale(1.1);
    cursor: pointer;
}

.card-img {
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 80px;
    margin-bottom: 8px;
}

span {
    color: black;
}